# Challenge 1 Basic Variable Assignment and Output

In [4]:
name = "xing"
age = "23"
message = "Hello, my name is " + name + " and I am " + age + " years old."
print(message)

Hello, my name is xing and I am 23 years old.

In [ ]:
name = "xing"
age = "23"
print("Hello, my name is {}, and I am {} years old.".format(name, age) )

Hello, my name is xing, and I am 23 years old!

In [ ]:
name = input("What is your name?")
age = input("What is your age?")
print("Hello, my name is {}, and I am {} years old".format(name, age))

# Challenge 2: Variable Types

In [10]:
greeting = "Hi"
year_born = 2002
height_in_meters = 1.6
is_student = True
print(type(greeting), type(year_born), type(height_in_meters), type(is_student))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

# Challenge 3: Variable Naming and Arithmetic Operations

In [13]:
price_apple = "5"
num_apples = "5"
total_cost = int(price_apple) * int(num_apples)
print("The total cost for {} apples is {} dollars.".format(num_apples, total_cost))

The total cost for 5 apples is 25 dollars.

# Challenge 4: Updating Variables

In [14]:
current_age = 23
print(current_age)
current_age = int(current_age) + 5
print(current_age)

23
28

# Challenge 5: Swapping Variables

In [17]:
x, y = 10, 20
x, y = y, x
print(x, y)

20 10